<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <link name="world">
    </link>

    <link name="diff_base">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://robotic_arm/meshes/diff_base.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://robotic_arm/meshes/diff_base.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <joint name="diff_base_joint" type="fixed">
        <parent link="world"/>
        <child link="diff_base"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

</robot>
