<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

        <!-- Gazebo Colors -->
    <gazebo reference="forearm">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="wrist_carrier">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="wrist_bevel">
        <material>Gazebo/Grey</material>
    </gazebo>

        <!-- Gazebo plugins -->
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find robotic_arm)/config/trajectory_controller.yaml</parameters>
        </plugin>
    </gazebo>
    
</robot>