<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ros2_control_mock_hardware" params="cmd_mode">
    <ros2_control name="sim_control" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
      </hardware>

      <joint name="carrier_joint">
        <xacro:if value="${cmd_mode == 'position'}">
          <command_interface name="position"/>
        </xacro:if>
        <command_interface name="velocity"/>
        <command_interface name="acceleration"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="bevel_joint">
        <xacro:if value="${cmd_mode == 'position'}">
          <command_interface name="position"/>
        </xacro:if>
        <command_interface name="velocity"/>
        <command_interface name="acceleration"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>
  </xacro:macro>

</robot>
